#footer{
	position: relative;
	img{
		max-width: 1500px;
	}
	a{
		color: $red;
	}
	.fa-inverse{
		color: $yellow !important;
	}
}
.moon{
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
}

#footer-links{
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    bottom: 0;
    height: 36px;
}