@media (max-width: 580px){
	#cta-wrap{
		line-height: 5px;
		margin-top: -15%;
		margin-bottom: 5px;
		text-shadow: 0px 0px 5px #000;
		h1{
		    font-size: 30px;
		    letter-spacing: 16px;
		    line-height: 50px !important;
		    margin-top: 0 !important;
		    margin-bottom: 0 !important;
		}
		h3{
		    font-size: 15px;
		    letter-spacing: 16px;
		    line-height: 0px !important;
		    margin-top: 0 !important;
		    margin-bottom: 0 !important;
		}
		.near{
			line-height: 40px !important;
		}
	}

	// TABLE STYLES
	table{
		font-size: 8px;
		overflow-x: hidden;
	}
	.btn{
		max-width: 34px;
	}
}

@media (min-width: 581px) and (max-width: 998px){
	#cta-wrap{
		line-height: 5px;
		margin-top: -15%;
		margin-bottom: 25px;
		h1{
		    font-size: 60px;
		    letter-spacing: 16px;
		    line-height: 90px !important;
		    margin-top: 0 !important;
		    margin-bottom: 0 !important;
		}
		h3{
		    font-size: 25px;
		    letter-spacing: 16px;
		    line-height: 0px !important;
		    margin-top: 0 !important;
		    margin-bottom: 0 !important;
		}
		.near{
			line-height: 60px !important;
		}		
	}
}