<div id="footer">
	<div class="container">
		<div class="row text-center">
			<img class="full-w moon" onLoad="footMargin()"src="https://s3.amazonaws.com/myfangate.com/iprevailradio/moon.png">
			<div id="footer-links">
				<a href="#" target="_blank">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
					</span>	
				</a>
				<a href="#" target="_blank">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
					</span>	
				</a>
				<a href="#" target="_blank">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
					</span>					
				</a>
				<a href="http://fearlessrecords.com">
					<img class="frlogo" src="https://s3.amazonaws.com/myfangate.com/iprevailradio/fearlesslogo.png">
				</a>
			</div>		
		</div>
	</div>
</div>