<div class="container">         
  <div class="row">
    <div class="col-lg-12 radio-list">
      <table class="table table-striped borderless-table text-center">
        <thead>
          <tr>
            <th class="text-center">Location</th>
            <th class="text-center yellow-text">Station</th>
            <th class="text-center">Request Line</th>
            <th class="text-center yellow-text">Text Code</th>
            <th class="text-center">Website</th>
            <th class="text-center yellow-text">Twitter</th>
            <th class="text-center">Facebook</th>
          </tr>
        </thead>
        <tbody>
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Appleton, WI</td>
            <!-- STATION -->
            <td class="yellow-text">WZOR-FM/Razor 94.7</td>
            <!-- PHONE -->
            <td>(866) 999-0947</td>
            <!-- TEXT CODE -->
            <td class="yellow-text">"razor" to 70236</td>
            <!-- WEBSITE -->
            <td><a href="http://www.razor947.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@razor947%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/razor947" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW -->
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Atlantic City, NJ</td>
            <!-- STATION -->
            <td class="yellow-text">WMGM-FM</td>
            <!-- PHONE -->
            <td>(609) 927-1037</td>
            <!-- TEXT CODE -->
            <td class="yellow-text"><i class="fa fa-close"></i></td>
            <!-- WEBSITE -->
            <td><a href="http://www.1037wmgm.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@1037WMGM%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/1037wmgm" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW -->          
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Biloxi, MS</td>
            <!-- STATION -->
            <td class="yellow-text">WCPR-FM/97.9 Rocks</td>
            <!-- PHONE -->
            <td>(228) 388-2771</td>
            <!-- TEXT CODE -->
            <td class="yellow-text"><i class="fa fa-close"></i></td>
            <!-- WEBSITE -->
            <td><a href="http://www.979cprrocks.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@976wcpr%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/979cprrocks" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW -->      
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Boise, ID</td>
            <!-- STATION -->
            <td class="yellow-text">KQXR-FM/100.3 The X</td>
            <!-- PHONE -->
            <td>(208) 344-3511</td>
            <!-- TEXT CODE -->
            <td class="yellow-text"><i class="fa fa-close"></i></td>
            <!-- WEBSITE -->
            <td><a href="http://www.xrock.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@xrockfm%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/XRockBoise" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW -->    
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Charleston, SC</td>
            <!-- STATION -->
            <td class="yellow-text">WYBB-FM/98.1 Rock</td>
            <!-- PHONE -->
            <td>(843) 225-1055</td>
            <!-- TEXT CODE -->
            <td class="yellow-text"><i class="fa fa-close"></i></td>
            <!-- WEBSITE -->
            <td><a href="http://www.my98rock.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@my98rock%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/My98Rock" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW --> 
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Chicago, IL</td>
            <!-- STATION -->
            <td class="yellow-text">WIIL-FM/95.1 Rock</td>
            <!-- PHONE -->
            <td>(800) 223-9510</td>
            <!-- TEXT CODE -->
            <td class="yellow-text"><i class="fa fa-close"></i></td>
            <!-- WEBSITE -->
            <td><a href="http://www.95wiil.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@95wiilrock%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/95WIILROCK" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW -->   
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Cincinnati, OH</td>
            <!-- STATION -->
            <td class="yellow-text">WFTK-FM/96 Rock</td>
            <!-- PHONE -->
            <td>(513) 749-9650</td>
            <!-- TEXT CODE -->
            <td class="yellow-text"><i class="fa fa-close"></i></td>
            <!-- WEBSITE -->
            <td><a href="http://www.purerock96.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@96ROCKCincy%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/pages/96ROCK-Cincinnati/287238327526" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW --> 
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Columbus, OH</td>
            <!-- STATION -->
            <td class="yellow-text">WRKZ-FM/99.7 The Blitz</td>
            <!-- PHONE -->
            <td>(614) 821-9970</td>
            <!-- TEXT CODE -->
            <td class="yellow-text">53299</td>
            <!-- WEBSITE -->
            <td><a href="http://www.theblitz.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@997TheBlitz%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/997theblitz" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW --> 
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Denver, CO</td>
            <!-- STATION -->
            <td class="yellow-text">KBPI-FM/106.7 Rocks The Rockies</td>
            <!-- PHONE -->
            <td>(303) 713-ROCK</td>
            <!-- TEXT CODE -->
            <td class="yellow-text">713-ROLL</td>
            <!-- WEBSITE -->
            <td><a href="http://www.kbpi.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@therealKBPI%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/KBPIFM" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW --> 
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Detroit, MI</td>
            <!-- STATION -->
            <td class="yellow-text">WRIF-FM/101.1 Everything That Rocks</td>
            <!-- PHONE -->
            <td>(248) 544-WRIF</td>
            <!-- TEXT CODE -->
            <td class="yellow-text"><i class="fa fa-close"></i></td>
            <!-- WEBSITE -->
            <td><a href="http://wrif.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@101wrif%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/WRIFRocksTheD" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW -->     
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>El Paso, TX</td>
            <!-- STATION -->
            <td class="yellow-text">KLAQ-FM/95.5 The Q</td>
            <!-- PHONE -->
            <td>(915) 880-4955</td>
            <!-- TEXT CODE -->
            <td class="yellow-text"><i class="fa fa-close"></i></td>
            <!-- WEBSITE -->
            <td><a href="http://klaq.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@KLAQ%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/KLAQRocks" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW --> 
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Flint, MI</td>
            <!-- STATION -->
            <td class="yellow-text">WWBN-FM/Banana 101.5</td>
            <!-- PHONE -->
            <td>(810) 239-1015</td>
            <!-- TEXT CODE -->
            <td class="yellow-text"><i class="fa fa-close"></i></td>
            <!-- WEBSITE -->
            <td><a href="http://banana1015.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@banana1015radio%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/Banana1015" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW --> 
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Grand Rapids, MI</td>
            <!-- STATION -->
            <td class="yellow-text">WGRD- FM</td>
            <!-- PHONE -->
            <td>(616) 770-9473</td>
            <!-- TEXT CODE -->
            <td class="yellow-text"><i class="fa fa-close"></i></td>
            <!-- WEBSITE -->
            <td><a href="http://wgrd.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@WGRD%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/979GRD" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW --> 
          <!-- START ROW -->          
          <tr>
            <!-- LOCATION -->
            <td>Greenville, NC</td>
            <!-- STATION -->
            <td class="yellow-text">WXQR-FM/Rock 105.5</td>
            <!-- PHONE -->
            <td>(800) 501-1055</td>
            <!-- TEXT CODE -->
            <td class="yellow-text">"pure rock" to 70236</td>
            <!-- WEBSITE -->
            <td><a href="http://www.myrock105.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@rock1055%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/Rock105and101" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW -->   
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Harrisburg, PA</td>
            <!-- STATION -->
            <td class="yellow-text">WQXA-FM/105.7 The X</td>
            <!-- PHONE -->
            <td>(800) 332-1057</td>
            <!-- TEXT CODE -->
            <td class="yellow-text"><i class="fa fa-close"></i></td>
            <!-- WEBSITE -->
            <td><a href="http://www.1057thex.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@thex1057%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/1057TheX" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW --> 
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Huntsville, AL</td>
            <!-- STATION -->
            <td class="yellow-text">WRTT-FM/Rocket 95.1</td>
            <!-- PHONE -->
            <td>(256) 534-9595</td>
            <!-- TEXT CODE -->
            <td class="yellow-text"><i class="fa fa-close"></i></td>
            <!-- WEBSITE -->
            <td><a href="http://therocket951.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@therocket951%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/rocket951" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW --> 
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Johnson City, TN</td>
            <!-- STATION -->
            <td class="yellow-text">WRZK-FM/95.9 The Hog</td>
            <!-- PHONE -->
            <td>(423) 246-9578</td>
            <!-- TEXT CODE -->
            <td class="yellow-text"><i class="fa fa-close"></i></td>
            <!-- WEBSITE -->
            <td><a href="http://www.wrzk.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td><i class="fa fa-close"></i></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/TheHog959?ref=ts" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW --> 
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Lexington, KY</td>
            <!-- STATION -->
            <td class="yellow-text">WXZZ-FM/103.3 Z-Rock</td>
            <!-- PHONE -->
            <td>(877) 444-1033</td>
            <!-- TEXT CODE -->
            <td class="yellow-text">280 – 1033</td>
            <!-- WEBSITE -->
            <td><a href="http://www.zrock103.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@zrocklex%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/zrocklex" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW -->  
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Little Rock, AK</td>
            <!-- STATION -->
            <td class="yellow-text">KDJE- FM</td>
            <!-- PHONE -->
            <td>501-433-1003</td>
            <!-- TEXT CODE -->
            <td class="yellow-text">30382 (start message w/ "EDGE")</td>
            <!-- WEBSITE -->
            <td><a href="http://www.edgelittlerock.com/main.html" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@EdgeLittleRock%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/edgelittlerock" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW -->               
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Madison, WI</td>
            <!-- STATION -->
            <td class="yellow-text">WJJO-FM /Solid Rock 94.1</td>
            <!-- PHONE -->
            <td>(608) 321-0941</td>
            <!-- TEXT CODE -->
            <td class="yellow-text">24493</td>
            <!-- WEBSITE -->
            <td><a href="http://www.wjjo.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@wjjo%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/94.1JJO?_rdr=p" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW --> 
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>McAllen, TX</td>
            <!-- STATION -->
            <td class="yellow-text">KFRQ-FM/Q94.5</td>
            <!-- PHONE -->
            <td>(956) 687-4848</td>
            <!-- TEXT CODE -->
            <td class="yellow-text">73786</td>
            <!-- WEBSITE -->
            <td><a href="http://www.q945therock.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@q945%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/q945rocks" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW --> 
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Minneapolis, MN</td>
            <!-- STATION -->
            <td class="yellow-text">KXXR-FM/93.7 The X</td>
            <!-- PHONE -->
            <td>(651) 989-9393</td>
            <!-- TEXT CODE -->
            <td class="yellow-text">68683</td>
            <!-- WEBSITE -->
            <td><a href="http://www.93x.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@93XRadio%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/93xrocks?ref=hl" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW --> 
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Modesto, CA</td>
            <!-- STATION -->
            <td class="yellow-text">KMRQ-FM/Rock 96.7</td>
            <!-- PHONE -->
            <td>(209) 521-6967</td>
            <!-- TEXT CODE -->
            <td class="yellow-text"><i class="fa fa-close"></i></td>
            <!-- WEBSITE -->
            <td><a href="http://www.rock967.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@rock967%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/pages/Rock-96-7/122425121120883" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW --> 
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Oklahoma City, OK</td>
            <!-- STATION -->
            <td class="yellow-text">KATT-FM/Rock 100.5</td>
            <!-- PHONE -->
            <td>(405) 460-5288</td>
            <!-- TEXT CODE -->
            <td class="yellow-text"><i class="fa fa-close"></i></td>
            <!-- WEBSITE -->
            <td><a href="http://www.katt.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@thekatt%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/thekattrocks" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW --> 
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Peoria, IL</td>
            <!-- STATION -->
            <td class="yellow-text">WIXO-FM/105.7 The X</td>
            <!-- PHONE -->
            <td>(309) 495-9496</td>
            <!-- TEXT CODE -->
            <td class="yellow-text"><i class="fa fa-close"></i></td>
            <!-- WEBSITE -->
            <td><a href="http://www.1057thexrocks.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@1057thexrocks%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/1057TheXPeoria" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW -->
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Portland, ME</td>
            <!-- STATION -->
            <td class="yellow-text">WHXR-FM</td>
            <!-- PHONE -->
            <td>(207) 797- 0780</td>
            <!-- TEXT CODE -->
            <td class="yellow-text"><i class="fa fa-close"></i></td>
            <!-- WEBSITE -->
            <td><a href="http://whxr.nh1media.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@1063rocks%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/Rock106.3" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW -->          
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Reno, NV</td>
            <!-- STATION -->
            <td class="yellow-text">KDOT-FM/Rock104.5</td>
            <!-- PHONE -->
            <td>(775) 793-1045</td>
            <!-- TEXT CODE -->
            <td class="yellow-text"><i class="fa fa-close"></i></td>
            <!-- WEBSITE -->
            <td><a href="http://www.kdot.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@rock_1045%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/KDOTRENO" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW -->
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Sacramento, CA</td>
            <!-- STATION -->
            <td class="yellow-text">KRZQ</td>
            <!-- PHONE -->
            <td>(916) 766-5000</td>
            <!-- TEXT CODE -->
            <td class="yellow-text"><i class="fa fa-close"></i></td>
            <!-- WEBSITE -->
            <td><a href="http://www.krxq.net/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@Sacs98Rock%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/98Rock" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW -->
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Saginaw, MI</td>
            <!-- STATION -->
            <td class="yellow-text">WKQZ-FM/Z93.3</td>
            <!-- PHONE -->
            <td>(800) 9-ROCK-93</td>
            <!-- TEXT CODE -->
            <td class="yellow-text"><i class="fa fa-close"></i></td>
            <!-- WEBSITE -->
            <td><a href="http://www.therockstationz93.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@z93_wkqz%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/Z93Rock" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW -->
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Shreveport, LA</td>
            <!-- STATION -->
            <td class="yellow-text">KTUX-FM/98.9 The Rock Station</td>
            <!-- PHONE -->
            <td>(318) 320-ROCK</td>
            <!-- TEXT CODE -->
            <td class="yellow-text"><i class="fa fa-close"></i></td>
            <!-- WEBSITE -->
            <td><a href="http://therockstation99x.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@RockStation99X%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/pages/Shreveport-LA/99X-KTUX/115664730924" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW -->
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Spokane, WA</td>
            <!-- STATION -->
            <td class="yellow-text">KHTQ-FM/Rock 94.5</td>
            <!-- PHONE -->
            <td>(509) 744-0945</td>
            <!-- TEXT CODE -->
            <td class="yellow-text">(509) 389-9439</td>
            <!-- WEBSITE -->
            <td><a href="http://rock945.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@RockStation99X%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/ROCK945DOTCOM" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW -->
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Springfield, MO</td>
            <!-- STATION -->
            <td class="yellow-text">KQRA-FM/Q102.1</td>
            <!-- PHONE -->
            <td>(417) 447-1021</td>
            <!-- TEXT CODE -->
            <td class="yellow-text"><i class="fa fa-close"></i></td>
            <!-- WEBSITE -->
            <td><a href="http://www.q1021.fm/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@Q102Springfield%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/Q102Springfield" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW -->
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Syracuse, NY</td>
            <!-- STATION -->
            <td class="yellow-text">WAQX-FM/95.7</td>
            <!-- PHONE -->
            <td>(417) 447-1021</td>
            <!-- TEXT CODE -->
            <td class="yellow-text"><i class="fa fa-close"></i></td>
            <!-- WEBSITE -->
            <td><a href="http://www.95x.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@95X%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/95XRocks" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW -->
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Wilkes-Barre, PA</td>
            <!-- STATION -->
            <td class="yellow-text">WBSX-FM/97.9X</td>
            <!-- PHONE -->
            <td>(570) 824-9000</td>
            <!-- TEXT CODE -->
            <td class="yellow-text"><i class="fa fa-close"></i></td>
            <!-- WEBSITE -->
            <td><a href="http://www.979x.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@979XROCK%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/95XRocks" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW -->
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Youngstown, OH</td>
            <!-- STATION -->
            <td class="yellow-text">WWIZ-FM/104 Real Rock</td>
            <!-- PHONE -->
            <td>(330) 783-0104</td>
            <!-- TEXT CODE -->
            <td class="yellow-text"><i class="fa fa-close"></i></td>
            <!-- WEBSITE -->
            <td><a href="http://www.realrock104.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@RealRock104%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/RealRock104" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW -->
          <!-- START ROW -->
          <tr>
            <!-- LOCATION -->
            <td>Sirius XM</td>
            <!-- STATION -->
            <td class="yellow-text">Octane</td>
            <!-- PHONE -->
            <td>(888) 3-OCTANE</td>
            <!-- TEXT CODE -->
            <td class="yellow-text"><i class="fa fa-close"></i></td>
            <!-- WEBSITE -->
            <td><a href="http://www.siriusxm.com/octane" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
            <!-- TWEET -->
            <td class="yellow-text"><a class="twitter popup" href="http://twitter.com/share?text=@siriusxm%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default yellow-text"><i class="fa fa-twitter"></i></div></a></td>
            <!-- FB SHARE -->
            <td><a href="https://www.facebook.com/siriusxm" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
          </tr>
          <!-- END ROW -->                     
        </tbody>
      </table>
    </div>
  </div>
</div>
