<div class="container">         
  <table class="table table-striped borderless-table">
    <thead>
      <tr>
        <th>Location</th>
        <th>Station</th>
        <th>Request Line</th>
        <th>Text Code</th>
        <th class="text-center">Website</th>
        <th class="text-center">Twitter</th>
        <th class="text-center">Facebook</th>
      </tr>
    </thead>
    <tbody>
      <!-- START ROW -->
      <tr>
        <!-- LOCATION -->
        <td>Appleton, WI</td>
        <!-- STATION -->
        <td>WZOR-FM/Razor 94.7</td>
        <!-- PHONE -->
        <td>(866) 999-0947</td>
        <!-- TEXT CODE -->
        <td>"razor" to 70236</td>
        <!-- WEBSITE -->
        <td class="text-center"><a href="http://www.razor947.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
        <!-- TWEET -->
        <td class="text-center"><a class="twitter popup" href="http://twitter.com/share?text=@razor947%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default"><i class="fa fa-twitter"></i></div></a></td>
        <!-- FB SHARE -->
        <td class="text-center"><a href="https://www.facebook.com/razor947" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
      </tr>
      <!-- END ROW -->
      <!-- START ROW -->
      <tr>
        <!-- LOCATION -->
        <td>Biloxi, MS</td>
        <!-- STATION -->
        <td>WCPR-FM/97.9 Rocks</td>
        <!-- PHONE -->
        <td>(228) 388-2771</td>
        <!-- TEXT CODE -->
        <td> </td>
        <!-- WEBSITE -->
        <td class="text-center"><a href="http://www.979cprrocks.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
        <!-- TWEET -->
        <td class="text-center"><a class="twitter popup" href="http://twitter.com/share?text=@976wcpr%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default"><i class="fa fa-twitter"></i></div></a></td>
        <!-- FB SHARE -->
        <td class="text-center"><a href="https://www.facebook.com/979cprrocks" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
      </tr>
      <!-- END ROW -->      
      <!-- START ROW -->
      <tr>
        <!-- LOCATION -->
        <td>Boise, ID</td>
        <!-- STATION -->
        <td>KQXR-FM/100.3 The X</td>
        <!-- PHONE -->
        <td>(208) 344-3511</td>
        <!-- TEXT CODE -->
        <td> </td>
        <!-- WEBSITE -->
        <td class="text-center"><a href="http://www.xrock.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
        <!-- TWEET -->
        <td class="text-center"><a class="twitter popup" href="http://twitter.com/share?text=@xrockfm%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default"><i class="fa fa-twitter"></i></div></a></td>
        <!-- FB SHARE -->
        <td class="text-center"><a href="https://www.facebook.com/XRockBoise" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
      </tr>
      <!-- END ROW -->    
      <!-- START ROW -->
      <tr>
        <!-- LOCATION -->
        <td>Charleston, SC</td>
        <!-- STATION -->
        <td>WYBB-FM/98.1 Rock</td>
        <!-- PHONE -->
        <td>(843) 225-1055</td>
        <!-- TEXT CODE -->
        <td> </td>
        <!-- WEBSITE -->
        <td class="text-center"><a href="http://www.my98rock.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
        <!-- TWEET -->
        <td class="text-center"><a class="twitter popup" href="http://twitter.com/share?text=@my98rock%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default"><i class="fa fa-twitter"></i></div></a></td>
        <!-- FB SHARE -->
        <td class="text-center"><a href="https://www.facebook.com/My98Rock" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
      </tr>
      <!-- END ROW --> 
      <!-- START ROW -->
      <tr>
        <!-- LOCATION -->
        <td>Chicago, IL</td>
        <!-- STATION -->
        <td>WIIL-FM/95.1 Rock</td>
        <!-- PHONE -->
        <td>(800) 223-9510</td>
        <!-- TEXT CODE -->
        <td> </td>
        <!-- WEBSITE -->
        <td class="text-center"><a href="http://www.95wiil.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
        <!-- TWEET -->
        <td class="text-center"><a class="twitter popup" href="http://twitter.com/share?text=@95wiilrock%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default"><i class="fa fa-twitter"></i></div></a></td>
        <!-- FB SHARE -->
        <td class="text-center"><a href="https://www.facebook.com/95WIILROCK" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
      </tr>
      <!-- END ROW -->   
      <!-- START ROW -->
      <tr>
        <!-- LOCATION -->
        <td>Cincinnati, OH</td>
        <!-- STATION -->
        <td>WFTK-FM/96 Rock</td>
        <!-- PHONE -->
        <td>(513) 749-9650</td>
        <!-- TEXT CODE -->
        <td> </td>
        <!-- WEBSITE -->
        <td class="text-center"><a href="http://www.purerock96.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
        <!-- TWEET -->
        <td class="text-center"><a class="twitter popup" href="http://twitter.com/share?text=@96ROCKCincy%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default"><i class="fa fa-twitter"></i></div></a></td>
        <!-- FB SHARE -->
        <td class="text-center"><a href="https://www.facebook.com/pages/96ROCK-Cincinnati/287238327526" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
      </tr>
      <!-- END ROW --> 
      <!-- START ROW -->
      <tr>
        <!-- LOCATION -->
        <td>Columbus, OH</td>
        <!-- STATION -->
        <td>WRKZ-FM/99.7 The Blitz</td>
        <!-- PHONE -->
        <td>1 (614) 821-9970</td>
        <!-- TEXT CODE -->
        <td>53299</td>
        <!-- WEBSITE -->
        <td class="text-center"><a href="http://www.theblitz.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
        <!-- TWEET -->
        <td class="text-center"><a class="twitter popup" href="http://twitter.com/share?text=@997TheBlitz%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default"><i class="fa fa-twitter"></i></div></a></td>
        <!-- FB SHARE -->
        <td class="text-center"><a href="https://www.facebook.com/997theblitz" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
      </tr>
      <!-- END ROW --> 
      <!-- START ROW -->
      <tr>
        <!-- LOCATION -->
        <td>Denver, CO</td>
        <!-- STATION -->
        <td>KBPI-FM/106.7 Rocks The Rockies</td>
        <!-- PHONE -->
        <td>(303) 713-ROCK</td>
        <!-- TEXT CODE -->
        <td>713-ROLL</td>
        <!-- WEBSITE -->
        <td class="text-center"><a href="http://www.kbpi.com/" target="_blank"><div class="btn btn-default"><i class="fa fa-globe"></i></div></a></td>
        <!-- TWEET -->
        <td class="text-center"><a class="twitter popup" href="http://twitter.com/share?text=@therealKBPI%20I%20want%20to%20request @IPrevail%20&hashtags=BlankSpace&url=/"><div class="btn btn-default"><i class="fa fa-twitter"></i></div></a></td>
        <!-- FB SHARE -->
        <td class="text-center"><a href="https://www.facebook.com/KBPIFM" target="_blank"><div class="btn btn-default"><i class="fa fa-facebook-square"></i></div></a></td>
      </tr>
      <!-- END ROW -->          
    </tbody>
  </table>
</div>
